@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #d0e3f7;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}